.DS_Store

# Hugo build files
public/
resources/
.hugo_build.lock
hugo_stats.json
go.sum
_vendor/

# Python cache files
__pycache__/

# Local lecture upload instructions/scratch area
static/lectures/new/
